body {
    font-family:'sans-serif';
    /*font-size: 14px;*/
    /*line-height: 24px;*/
    /*font-weight: 400;*/
    background: #fff;
    color: #353535;
    position: relative;
    width: 100%;
    overflow-x:hidden;
}

#header{
    top: 0;
    width: 100%;
    /*height:60px;*/
    z-index: 99;
    position: fixed;
    background: rgba(0, 0, 0, 0.36);
    /*padding:0 12.5%;*/
    color:  #f5f5f5;
}

.sticky{
    background: #fff;
    /*-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.30);*/
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.30);
}

.top-links{
    margin: 0 12.5%;
  align-items: center;
}

.header-tab{       
    color: #f5f5f5;
}

.header-text{ 
    text-align: center;
    align-self: center;
    font-weight: 800;
}

a{
    color:#f5f5f5;
}

.active{
    color:  #F2784B;
}

/*

PERSONAL INFO SECTION CSS

*/

.personalinfo{
    /*position: absolute;*/
    background: #666;
    height: 600px;
    /*opacity: 0.5;*/
    /*content: "";*/
    /*z-index: -1;*/
    border: 2px;
    box-shadow: 2px;
}

.aboutme{
    background: black;
    margin-top: -50px; 
    margin-left: 12.5%;
    margin-right: 12.5%;
    height: 500px;
    border-radius: 10px;
    z-index: -1;
}
#info{
    background: #f5f5f5;
}

.section-title {
    margin-bottom: 30px;
    text-align: center;
    padding: 0 200px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    color: inherit;
}

/*FOR TIMELINE*/

.timeline{
    background: #fff;
    position: relative;
    /*max-width: 1200px;*/
    /*justify-content: right;*/
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #F2784B;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 3px;
}

.timeline-card{
    padding: 0;
    position: relative;
    width: 50%;
}

.left{
    left: 0;
    padding-right: 70px;
    background: #fff
}

.left::before{
    content: ' ';
    top: 70px;
    position: absolute;
    height:0;
    right:65px;
    border: medium solid white;
    border-width : 15px 0px 15px 15px;
    border-color: transparent transparent transparent #f5f5f5;
    z-index: 1;
}

.right{
    left: 50%;
    padding-left: 70px;
}

.right::before{
    content: ' ';
    top: 70px;
    position: absolute;
    height:0;
    left:65px;
    border: medium solid white;
    border-width : 15px 15px 15px 0px;
    border-color: transparent #f5f5f5 transparent transparent;
    z-index: 1;
}

.content
{    
    background: #f5f5f5;
    margin: 10px;
    padding:25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.left .date{
    background: #F2784B;
    color:white;
    position: absolute;
    right: -30px;
    top: 60px;
    padding: 5px;
    border-radius: 5px;
    line-height: 2.5;
    width: 60px;
    text-align: center;
    font-weight: 700;
    z-index: 1;
}

.right .date{
    background: #F2784B;
    color:white;
    position: absolute;
    left: -30px;
    top: 60px;
    padding: 5px;
    border-radius: 5px;
    line-height: 2.5;
    width: 60px;
    text-align: center;
    font-weight: 700;
    z-index: 1;
}
/*

PROJECTS SECTION CSS

*/

#projects,#contactme {
    background: #f5f5f5;
    overflow-x: hidden;
    overflow-y: hidden;
}

.project-body{
    width:100%;
    height: 400px;
    display: inline-block;
}

.left-button-wrapper{
    min-width:12.5%;
    float:left;
    /*background:blue;*/
    min-height: 400px;
    display: inline-block;    
    padding: 150px 0;
} 

.wrapper 
{
  min-height: 400px;
  width:75%;
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding-top: 5px;
}

.right-button-wrapper{
    min-width:12.5%;
    float:right;
    /*background:blue;*/
    min-height: 400px;    
    padding: 150px 0;
    display: inline-block;
}

.leftButton{
    float:right;
    height:80px;    
    width:80px;
    border-radius: 40px;
    font-size: 20px;
    font-weight:bold;
    background: #F2784B;
    color :#fff;
    opacity: 0.9;
    border: none;
}

.leftButton:hover, .rightButton:hover{
    opacity: 1;
}

.rightButton{
    /*height:100px;    
    width:50px;*/
     height:80px;    
    width:80px;
    border-radius: 40px;
    font-size: 20px;
    font-weight:800;
    background: #F2784B;
    color :#f5f5f5;
    opacity: 0.9;    
    border: none;
}


#carousel {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;
}

.card {
  background: #f5f5f5;
  color:black;
  font-weight: 600;
  min-width:25%;
  height: auto;
  /*margin-right: 1rem;*/
  display: inline-block;
    padding:0 1rem;
}

.contents{    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
}
.project-image{
    /*margin : -16px -16px 10px -16px;*/
    padding: 0;
    width:100%;
    height:50%;
    border-bottom: 5px solid #F2784B;
}
.project-text{
    height: 50%;
    padding: 0px 16px 16px 16px;
}

/*

SKILLS SECTION

*/

.skills-content{
    background: #555;
    padding:2%;
    margin: 0 12.5%;
    height: 600px;
    border: 2px;
    box-shadow: 2px;
}

.single-skill{
    padding:20px;;
    background: white;
}

.skill-heading{
    font-size: 24px;
}

.meter{
    width: 100%;
    background:#555;
    border-radius: 12px;
    height:25px;

}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

/*

CONTACTS SECTION

*/

.contact-me{
    margin: 0 12.5% 100px 12.5%;
    /*height: 300px;*/
}

.contact-card{
    width:100%;
    padding: 15px;
    background: white;
    display: inline-block;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.50);
    height: 355px;
    z-index: 1;
}

#contact-text{
    padding: 5px;
    padding-bottom: 50px;
    font-size:20px;
}

.contact-text{
    padding: 5px;
    font-size:20px;
    font-weight: 600;
    color:#333;
}
.mailme:hover{
    cursor: pointer;
}

.contact-link{
    text-decoration: none;
    padding: 5px;
    font-size:20px;
    font-weight: 600;
    color:#333;
}

.contact-link:hover{
    color:#F2784B;
}

.contact-icon{
    margin: 10px;
}

.submit-button{
    background: #F2784B;
    color:white;
    border: 1px solid #ddd;
    margin:0 25%;
    width:50%;
    height:50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.display-footer{
    background: #333;    
    margin-top: -70px;
}

.container.footer-container{
    padding: 10px;
    width:100%;
    margin: 0 12.5%;
    color:white;
}

.social{
    color: white;
    cursor: pointer;
    margin-left: 40px;
    font-size: 25px;
    font-weight: 600;
}

.text-center{
    text-align: center;
}


/*

MEDIA QUERIES

*/

/*@media screen and (max-width: 1200px) {
.card {
    min-width:33.33%;  
    }

};*/

@media screen and (max-width: 992px) {


.timeline{
    background: #fff;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.timeline::after {
  left: 5%;
}

.timeline-card {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  margin:5%;
  }

.content p{
    font-size: 18px;   
}

.left::after{
    content: ' ';
    top: 30px;
    position: absolute;
    height:0;
    left:65px;
    border: medium solid white;
    border-width : 15px 15px 15px 0px;
    border-color: transparent #f5f5f5 transparent transparent;
    z-index: 1; 
}

.right::before{
    top: 30px;
    left:65px;
}

.left .date{
    left: -30px;
    top: 20px;
}
.right .date{
    top:20px;
}
.right, .left {
  left: 0%;
}

.card {
    min-width:50%;
}
};
